${include:authority-orport-v6.tmpl}

# An authority that's also an exit relay that can exit to IPv4 & IPv6 localhost
# (newer versions of tor need this to be explicitly configured)

${include:exit-v4.i}
${include:exit-v6.i}
