${include:relay.tmpl}

# A relay that has an IPv6 ORPort
${include:orport-v6.i}

# An exit relay that can exit to IPv4 & IPv6 localhost
# (newer versions of tor need this to be explicitly configured)

${include:exit-v4.i}
${include:exit-v6.i}
